@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Lato:wght@700&family=Manrope:wght@600&family=Outfit&family=Overpass&family=Space+Mono&display=swap');

:root {
  /* General font styles */
  font-family: 'Kumbh Sans', sans-serif;
  font-style: normal;
  /* Page backGround */
  background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* color variables */


  --black-dark-color: #1E1F36;
  --grey-dark-color: #4B4C5F;
  --grey-light-color: #787887;
  --grey-accordion-border-color: #E8E8EA;
  --orange-hover-color: #F47B56;
  --white-common-color: #FFF;
}

*,
*::before,
*::after
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  width: 100%;
  min-height: 100vh;
  

}
